<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Built in filters</h1>
    <!--    <h1>{{data}}</h1>
        <h1>{{data|lower}}</h1>
        <h1>{{data|upper}}</h1>
        <h1>{{data|title}}</h1>
        <h1>{{data|capfirst}}</h1>
        <h1>{{data|truncatewords:2}}</h1>
        <h1>{{data|truncatechars:10}}</h1>
        <h1>{{data|slice:5}}</h1>
-->
<h1>{{dt|date:'F Y D'}}</h1>
<h1>I Have {{c}} dog{{c|pluralize}}</h1>
<h1>This {{c}} mango{{c|pluralize:'es'}} {{c|pluralize:'is,are'}} mine</h1>







    </center>
</body>
</html>